.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

.favorites__save:disabled {
    background-color: silver;
    cursor: not-allowed;
}

.favorites__delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorites__delete-button:hover {
    background-color: orangered;
}

.link {
    display: flex;
    flex-direction: column;
}