.favorites {
  box-sizing: border-box;
  border: 1px solid rgba(0, 8, 7);
  padding: 30px 20px;
  margin-left: 50px;
}

.favorites__name {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 8, 7, 0.5);
  margin-bottom: 24px;
}

.flex{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.favorites__list {
  margin-bottom: 24px;
}

.favorites__save {
  border: none;
  background-color: #496ddb;
  padding: 10px 15px;
  color: #ffeedb;
  font-size: 14px;
  transition: all 0.2s linear;
}

.favorites__save:hover {
  /* cursor: pointer; */
  opacity: 0.9;
  transition: all 0.2s linear;
}
.favorites__save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.favorites__save:not(:disabled) {
  background-color: #496ddb;
  cursor: pointer;
}
.favorites__link{
  color: black;
  text-decoration: none;
  transition: all 0.2s linear;
  margin-right: 20px;
}
.favorites__link:hover{
  color: #496ddb;
}
.favorites__reset{
  border: none;
  background-color: #496ddb;
  padding: 10px 15px;
  color: #ffeedb;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}


@media only screen and (min-width:980px){
  .favorites__remove{
    border: none;
    background-color: #496ddb;
    padding: 10px 15px;
    color: #ffeedb;
    font-size: 14px;
    margin-top: 20px;
    transform: translate(70px);
  }
  .favorites__remove:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .favorites__remove:not(:disabled) {
    background-color: #496ddb;
    cursor: pointer;
  }
}
@media only screen and (max-width:979px){
  .favorites__remove{
    border: none;
    background-color: #496ddb;
    padding: 10px 15px;
    color: #ffeedb;
    font-size: 14px;
    margin-top: 20px;
    transform: translate(10px);
  }
  .favorites__remove:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .favorites__remove:not(:disabled) {
    background-color: #496ddb;
    cursor: pointer;
  }
}
@media only screen and (max-width:768px){
  .favorites__remove{
    border: none;
    background-color: #496ddb;
    padding: 10px 15px;
    color: #ffeedb;
    font-size: 14px;
    margin-top: 20px;
    /* transform: translate(150%); */
  }
  .favorites__remove:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .favorites__remove:not(:disabled) {
    background-color: #496ddb;
    cursor: pointer;
  }
}