.search-box__form {
    display: flex;
    width: 100%;
}

.search-box__form-label {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}

.search-box__form-input {
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
}

.search-box__form-submit {
    margin-top: 17px;
    padding: 5px 10px;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background-color: rgba(0, 8, 7);
}

.search-box__form-submit:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #FFEEDB;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) { 
    .search-box__form-input {
        text-align: center;
    }
    .search-box__form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .search-box__form {
        flex-direction: column;
    }
    .search-box__form-input {
        width: 100%;
    }
}