.movie-item {
    padding: 20px;
    background-color: #FFEEDB;
    display: flex;
    margin-top: 20px;
}

.movie-item__poster {
    height: 150px;
    margin-right: 21px;
}

.movie-item__title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movie-item__add-button {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.movie-item__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

@media (max-width: 768px) {
    .movie-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .movie-item__poster {
        height: 120px;
        margin-bottom: 15px;
        margin-right: 0px;
    }
}

@media (max-width: 480px) {
    .movie-item {
        padding: 10px;
    }
    .movie-item__title {
        font-size: 18px;
    }
}