.header {
    background: #496DDB;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 15px;
    }
    .header__title {
        font-size: 36px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 15px 10px;
    }
    .header__title {
        font-size: 28px;
        margin-left: 10px;
    }
}